.root p {
  line-height: 27px;
}

.root .pad p {
  padding-left: 32px;
  position: relative;
}

.root .field {
  margin: -5px 8px 0;
}

.root .field input {
  width: 50px;
}

.root .checkboxRoot {
  padding: 0;
  position: absolute;
  left: 0;
}
