.inputColor {
  border: 0;
  background: none;
  position: relative;
  top: 3px;
}

.td {
  white-space: nowrap;
  &.notFirst {
    border-left: 1px solid #303030
  }
}

.short {
  .inputColor {
    width: 25px;
  }

  .td {
    padding: 7px;
  }

  .checkboxWrap {
    padding: 0 5px 0 0;
  }
}
